<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
        <section class="row d-flex justify-content-center">
            <div class="container mx-5 px-5 text-center horizontal-center" style="width:30%" >
                <h1 class="bg-secondary bg-gradient">Counter</h1>
                {% set counter = 0 %}
                <p>{{session['visits'] + counter}}</p>
                <div>
                    <button class="btn-success"><a class="link-light" href = "{{url_for('add2')}}">Add two visits </a></button>
                    <button class="btn-danger"> <a class="link-light" href = "{{url_for('destroy')}}">Reset</a></button>
                </div>
            </div>
        </section>
            
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        
    </body>
</html>